
<body>

    <form class="registrarme" novalidate>
      <div class="flecha">
        <a href="#bienvenida"><img src="/Images/Arrow 1.png" class="flecha__devolver"> </a>
      </div>

    <div class="entrada entrada--espacio">  
              
            <h1 class="entrada__titulo entrada__titulo--espacioAbajo">REGISTRARME EN EL SISTEMA</h1> 
            
            <div class="componente">

                <label for="usuario" class="componente__label">NOMBRE</label>
                <input type="text" id="nombre" class="componente__entrada" name="nombre" autocomplete="off"  required>

            </div>

            <div class="componente">

                <label for="contrasena" class="componente__label">CREAR CONTRASEÑA</label>
                <input type="password" id="contrasena" class="componente__entrada" name="password"  autocomplete="off"  required>

            </div>

         <div class="componente">

                <label for="repetirContrasena" class="componente__label">REPITE LA CONTRASEÑA</label>
                <input type="password" id="repetirContrasena" class="componente__entrada" name="repeatPassword" autocomplete="off"  required>

         </div>

        <div class="componente">

                <label for="correoElectronico" class="componente__label">CORREO ELECTRONICO</label>
                <input type="text" id="correoElectronico" class="componente__entrada" name="correo_electronico" autocomplete="off"  required>
                
         </div>

        <div class="componente">

                <label for="telefono" class="componente__label">TELEFONO</label>
                <input type="text" id="telefono" class="componente__entrada" name="telefono" autocomplete="off"  required>
                
         </div>

        <div class="componente">

                 <label for="cedula" class="componente__label">CEDULA</label>
                <input type="text" id="cedula" class="componente__entrada" name="cedula" autocomplete="off"  required>
                
         </div>

        <div class="componente">

                <label for="direccion" class="componente__label">DIRECCION</label>
                <input type="text" id="direccion" class="componente__entrada" name="direccion" autocomplete="off"  required>
                
         </div>
         
          


        <div class="enviar">
       <button class="enviar__boton" type="submit">REGISTRARME</button>
       <a class="enviar__ayuda" href="#login">ya tienes una cuenta? INGRESA</a>
    </div>
    </div>

    </form>

    <script src="Api/Registrarme.js" type="module"></script>
    

   
</body>
