<main class="main">

        <h1 class="titulo">INVENTARIO</h1>
         

        <div class="carta">
                 <img src="./imagenes/CanastaTomates.png" class="carta__imagen">
                 <p class="carta__parrafo">CANASTILLAS DE TOMATES</p>
                 <p class="carta__parrafo">Peso: 24kg</p>
                 <div class="cantidad">
                 <p class="cantidad__parrafo">Cantidad: </p>
                 <div class="cantidad__circulo">50</div>
                 </div>
            </div>
            
            <div class="botones">
            <a href="inventario.html" class="botones__link"><div class="boton"><p class="boton__texto">MODIFICAR</p><img src="/Images/Modificar.png" class="boton__imagen"></div></a>
            </div>

</main>