

        <h1 class="titulo titulo--naranja">INVENTARIO</h1>
           
        <div class="agregarCards agregarCards--centradas">
           <form id="ModificarProducto" enctype="multipart/form-data" novalidate> 
            
            <div class="formu"></div>

            <div class="botones">
            <button type="submit" id="modificarProducto" class="botonModificar" ><div class="boton">Modificar<img src="/Images/Modificar.png" class="boton__imagen"></div></button>
            </div>
            
         </form>
         </div>