<form class="formularioActualizarUsuario">
<div class="registrarUsuario">
            <h1 class="entrada__titulo entrada__titulo--usuarios">MODIFICAR USUARIO</h1> 
            
            <div class="componente componente--usuarios">

                <label for="usuario" class="componente__label">NOMBRE</label>
                <input type="text" id="nombre" class="componente__entrada" name="nombre" autocomplete="off"  required>

            </div>

            <div class="componente componente--usuarios">

                <label for="contrasena" class="componente__label">CREAR NUEVA CONTRASEÑA</label>
                <input type="password" id="contrasena" class="componente__entrada" name="password"  autocomplete="off" >

            </div>
 
         

        <div class="componente componente--usuarios">

                <label for="correoElectronico" class="componente__label">CORREO ELECTRONICO</label>
                <input type="text" id="correoElectronico" class="componente__entrada" name="correo_electronico" autocomplete="off"  required>
                
         </div>

        <div class="componente componente--usuarios">

                <label for="telefono" class="componente__label">TELEFONO</label>
                <input type="text" id="telefono" class="componente__entrada" name="telefono" autocomplete="off"  required>
                
         </div>

        <div class="componente componente--usuarios">

                 <label for="cedula" class="componente__label">CEDULA</label>
                <input type="text" id="cedula" class="componente__entrada" name="cedula" autocomplete="off"  required>
                
         </div>

        <div class="componente componente--usuarios">

                <label for="direccion" class="componente__label">DIRECCION</label>
                <input type="text" id="direccion" class="componente__entrada" name="direccion" autocomplete="off"  required>
                
         </div>

         <div class="componente componente--usuarios">

                <label for="rol" class="componente__label">ROL</label>
                <select type="text" id="rol" class="componente__entrada componente__entrada--select" name="rol" autocomplete="off"  >
                    <option value="1">Administrador</option>
                    <option value="2">Empleado</option>
                </select>
                
         </div>
         
          </div>


        <div class="enviar">
       <button class="enviar__boton" type="submit">REGISTRARME</button>
       <a class="enviar__ayuda" href="#login">ya tienes una cuenta? INGRESA</a>
    </div>
    

</form>