<form class="formularioActualizarUsuario" novalidate>
<div class="registrarUsuario">
            <h1 class="entrada__titulo entrada__titulo--usuarios">MODIFICAR USUARIO</h1> 
            
            <div class="componente componente--usuarios">

                <label for="usuario" class="componente__label">NOMBRE</label>
                <input type="text" id="nombre" class="componente__entrada" name="nombre" autocomplete="off"  required>

            </div>

            <div class="componente componente--usuarios">

                <label for="contrasena" class="componente__label">CREAR NUEVA CONTRASEÑA</label>
                <input type="password" id="contrasena" class="componente__entrada" name="password"  autocomplete="off" >

            </div>
 
         

        <div class="componente componente--usuarios">

                <label for="correoElectronico" class="componente__label">CORREO ELECTRONICO</label>
                <input type="text" id="correoElectronico" class="componente__entrada" name="correo_electronico" autocomplete="off"  required>
                
         </div>

        <div class="componente componente--usuarios">

                <label for="telefono" class="componente__label">TELEFONO</label>
                <input type="text" id="telefono" class="componente__entrada" name="telefono" autocomplete="off"  required>
                
         </div>

        <div class="componente componente--usuarios">

                 <label for="cedula" class="componente__label">CEDULA</label>
                <input type="text" id="cedula" class="componente__entrada" name="cedula" autocomplete="off"  required>
                
         </div>

        <div class="componente componente--usuarios">

                <label for="direccion" class="componente__label componente__label--titulo">DIRECCION</label>
                
                <label for="calle" class="componente__label componente__label--direccion">Calle</label>
                <input type="text" id="calle" class="componente__entrada componente__entrada--direccion" name="calle" autocomplete="off" required >

                <label for="numero" class="componente__label componente__label--direccion">N°</label>
                <input type="text" id="numero" class="componente__entrada componente__entrada--direccion" name="numero" autocomplete="off" required >

                <label for="barrio" class="componente__label componente__label--direccion">Barrio</label>
                <input type="text" id="barrio" class="componente__entrada componente__entrada--direccion " name="barrio" autocomplete="off" required >
                
         </div>

         <div class="componente componente--usuarios">
              <label for="municipio" class="componente__label ">MUNICIPIO DE  RESIDENCIA</label>
                 <select id="municipio" class="componente__entrada componente__entrada--select " name="fkMunicipio" required>
                  <option value="" disabled selected></option>
                  
              </select>
         </div>

         <div class="componente componente--usuarios">

                <label for="rol" class="componente__label">ROL</label>
                <select type="text" id="rol" class="componente__entrada componente__entrada--select" name="rol" autocomplete="off"  >
                    <option value="1">Administrador</option>
                    <option value="2">Empleado</option>
                </select>
                
         </div>
         
          </div>


        <div class="enviar">
       <button class="enviar__boton" type="submit">REGISTRARME</button>
       
    </div>
    

</form>