<h1 class="titulo">Ventas del dia</h1>

            <div class="agregarCards"></div>
            
            <div class="ventasConsultas">
            <p class="ventasConsultas__parrafo">TOTAL DE VENTAS:1</p>
            <p class="ventasConsultas__parrafo">TOTAL VENDIDO:$1.000.000</p>
            <p class="ventasConsultas__parrafo">TOTAL ABONADO:$500.000</p>
            </div>
             

            <div class="botones botones--ventas">
                <a href="#ventas/Agregar" class="botones__link"><div class="boton"><p class="boton__texto">AGREGAR</p><img src="/Images/Agregar.png" class="boton__imagen"></div></a>

            </div>