<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu bodega</title>
    <link rel="shortcut icon" href="./imagenes/tu_bodega_logo.png">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!--Seccion de ingreso-->
    <div class="inicioSesion">

     <div class="presentacion">
        <div class="contenido"> 
        <h1 class="contenido__titulo">TU BODEGA</h1>
        <p class="contenido__parrafo">ADMINISTRA TU INVENTARIO , REALIZA TUS FACTURAS Y LLEVA EL CONTROL DE TUS VENTAS</p>
        <img src="Images/tu_bodega_logo.png" class="contenido__imagen" >
    </div>
     </div>
     <div class="botones botones--bievenida">
        <div class="inicio inicio--bienvenida">
        <p class="inicio__parrafo">INGRESA EN EL SISTEMA  O CREA UNA CUENTA SI NO TIENES</p>
        <a href="#login"  class="boton">INGRESAR</a>
        <a href="#registrarme" class="boton"> REGISTRARME </a>
    </div>
     </div>

    </div>
    
   
    

</body>
</html>