@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jockey One", sans-serif;
}

:root{
    --colorPrograma:rgba(205, 65, 4, 1); 
    --colorHover:rgb(168, 54, 5); 
    --colorBlanco: #fff;
    --colorNegro: #000;
}


.grid-container{
  display: grid;
  grid-template-areas:
    "main";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}


.paddinDiez{
    padding: 10px;
}

.layout {
  display: grid;
  grid-template-areas:
    "sidebar main"
    "sidebar main";
  grid-template-columns: 15% 85%;
  grid-template-rows: 10% 90%;
  height: 100vh;
}



/*Parte de presentacion de tu bodega */
.inicioSesion{
    display: flex;
    
    
    height: 100vh;
    width: 100%;
}

.presentacion{

    width: 100%;
    background-color: var(--colorPrograma);
    color: var(--colorBlanco);
    
}

.contenido{
    gap: 60px;
    height: 89%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.contenido__titulo{
    letter-spacing: 2px;
    font-size: 90px;
    text-transform: uppercase;
}

.contenido__parrafo{
    width: 90%;
    text-transform: uppercase;
    font-size: 25px;
}

.contenido__imagen{
    width: 300px;
}




/*Parte de presentacion de los botones para dirigir a ingresar o registrarse*/
.botones{
    width: 100%;
    
    
}


.inicio__parrafo{
    color: var(--colorPrograma) ;
    
}

.inicio{
    gap: 60px;
    height: 100%;
    text-align: center;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    
}

.inicio__parrafo{
    text-transform: uppercase;
    font-size: 25px;
}

.inicio__ingresar{
    background-color:var(--colorPrograma);
    border-radius: 20px;
    width: 300px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--colorBlanco);
    text-decoration: none;
    cursor: pointer;
}

/*Parte del login*/

.login{
    
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.entrada{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    background-color: var(--colorPrograma);
    width: 100%;
    height: 55%;
}

.entrada--login{
    height: 35%;
    
}




.entrada__titulo{
    text-transform: uppercase;
    color: var(--colorBlanco);
    margin-top: 0px;
    margin-bottom: 5px ;
    letter-spacing: 2px;
    font-size: 45px;

}
.ingresoDatos{
    display: flex;
    gap: 20px;
    
}

.ingresoDatos__entrada{
    width: 200px;
}

.inicial{
    display: flex;
    gap: 20px;
    
    
}

.componente{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: var(--colorBlanco);
  font-size: 20px;
  margin-bottom: 33px;
  flex-wrap: wrap;
}





.componente--login{
    margin-bottom: 10px;
}



.componente--sinMargin{
    margin-bottom: 0px;
}


.componente__label{
    width: 180px;
    text-align:center;
    margin-right: 10px;
}

.componente__label--titulo{
    width: 110px;
    text-align: end;
    margin-left: 60px;
}

.componente__label--direccion{
    width: 40px;
    margin: 12px;
    text-align: end;
    
    
    
}




.componente__entrada{
    
    height: 35px;
    width: 400px;
    border-radius: 5px;
    border:none;
    color: var(--colorPrograma);
    outline: none;
    position: relative;
    font-size: 15px;
    padding: 10px;
}

.componente__entrada--direccion{
    width: 100px;
}



.textos{
    text-transform: uppercase;
    display: flex;
    color:var(--colorBlanco);
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 65px;
    font-size: 20px;
}




.datos{
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px; 
    
}
    




.datos__rol{
    height: 40px;
    border-radius: 5px ;
    border: none;
    text-align: center;
    color: var(--colorPrograma);
    font-size: 20px;
}

.flecha{
    width: 100%;
    background-color: var(--colorPrograma);
}

.flecha__devolver{
    width: 40px;
    margin-top: 20px;
    margin-left: 30px;
    
}


/*Parte de envio del formulario o ayuda si el usuario olvido la contraseña*/
.link{
    text-decoration: none;
    color: var(--colorBlanco);
    
}

.enviar{
   margin-top: 70px; 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 60px;
}

.enviar__boton{
    background-color: var(--colorPrograma) ;
    color:var(--colorBlanco) ;
    text-align: center;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 280px;
    height: 50px;
    font-size: 20px;
    border: none;

}

.enviar__boton:hover{
    cursor: pointer;
    background-color: var(--colorHover);
}


.enviar__ayuda{
    text-decoration: none;
    color: var(--colorPrograma);
    font-size: 15px;
}

/*Parte del registro del sistema*/

.registrarme{
    height:105vh;
}

.registrarme--usuario{
    height: 100%;
}

.registro{
    height: 50%;
    text-transform: uppercase;
    color: var(--colorBlanco);
    letter-spacing: 2px;
    font-size: 20px;
    background-color: var(--colorPrograma);

}

.entrada--espacio{
    gap: 0;
    height:67%; 
}

.entrada--espacio .textos{
    gap: 30px;
}

.entrada--espacio .datos{
    gap: 20px;
}

.entrada__titulo--espacioAbajo{
    margin-bottom: 30px;
}


/*ESTRUCTURA DE LA PAGINA WEB*/

.estructura{
    
    width: 100%;
    /* height: 100%; */
    display: grid;
    grid-template-columns: 20%  80%;
    grid-template-rows: 20% 80%; 
    grid-template-areas: 
    'sidebar main'
    'sidebar main';
    height: 100vh;
}

.sidebar{
    grid-area: sidebar;
    background-color: var(--colorPrograma);
    
}

.perfil{
    width: 100%;
    padding-bottom: 30px;
    border-bottom: solid 3px var(--colorBlanco);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    color: var(--colorBlanco);
}

.perfil__imagen{
    width: 60px;
}

.perfil__texto{
    font-size: 25px;
    letter-spacing: 1px;
}

.espacio{
    width: 100%;
    height: 75px;
    background-color: var(--colorBlanco);
}

.caja{
    width: 100%;
    height: 80px;
    display: flex;
    font-size: 20px;
    margin-top: 60px;
    color: var(--colorBlanco);
    justify-content: center;
    align-items: center;
}

.caja--admin{
    margin-top: 30px;
}

.caja--seleccion{
    color: var(--colorPrograma);
    background-color: var(--colorBlanco);
}



.caja__link{
    text-decoration: none;
    color: var(--colorBlanco);
}
.caja__link--seleccion{
    color: var(--colorPrograma);
        
}


/*Estilos de inventario*/


.main{
    grid-area: main;
    overflow-x: auto;
    
    
}


.titulo{
    
    text-align: center;
    color: var(--colorPrograma);
    font-size: 60px ;

}

.carta{
    margin-left: 50px;    
    margin-top: 50px;
    border-radius: 20px;
    height: 430px;
    color: var(--colorBlanco);
    background-color: var(--colorPrograma);
    width: 260px;
    
}

.botonesCarta{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 40px;
    gap: 10px;
    border-radius: 10px;
}

.botonesCarta__boton{
    cursor: pointer;
    border: none;
    width: 60px;
    text-align: center;
    text-decoration: none;
    background-color: var(--colorBlanco);
    color: var(--colorPrograma);
}

.carta--añadir{
    width: 290px;
    height: 420px;
}

.carta__addImagen{
    display: block;
    margin: 0 auto;
}

.agregarCards{
    width: 100%;
    display: flex;
    align-items: center;
    
    
}


.carta__venta{
    
    display: flex;
    font-size: 35px;
    flex-direction: column;
    align-items: center;
    
}

.carta__imagen{
  height: 120px;
  border-radius: 10px;  
  width: 100%;

}

.carta__parrafo{
    font-size: 20px;
    padding: 15px;
        
}


.cantidad{
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    gap: 15px;
}

.cantidad--productos{
    display: block;
    
    
}



.cantidad__circulo{
    background-color: var(--colorBlanco);
    border-radius: 60%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorPrograma);
}




.botones{
    width: 100%;
    margin-top: 40px;
    display: flex;
    gap: 90px;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

.botones--modificar{
    margin-top: 200px;
}

.botones--venta{
    margin-top: 100px;
}


.boton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    gap: 20px;
    color: var(--colorBlanco);
    height: 60px;
    border-radius: 10px;
    background-color: var(--colorPrograma);
}

.boton__imagen{
    height: 30px;
}
   
.boton__texto{
    font-size: 20px;
}

/*Seccion de ventas*/


.botones--ventas{
    gap: 320px;
    margin-top: 140px;
}

.cantidad__circulo--producto{
    border-radius: 25px;
    width: 90%;
    height: 20px;
    margin-top: 10px;
    font-size: 14px;
}

.carta--venta{
    height: 530px;
    max-height: 600px; /* ajusta según lo que necesites */
    overflow-y: auto;
    width: 80px ;
    min-width: 240px;
}


.ventasConsultas{
      color: var(--colorPrograma);
      font-size: 20px;
      margin-top: 40px;
      margin-left: 60px;
}


/*Seccion de facturas*/
  
.factura{
    display: flex;
    justify-content: space-evenly;
    height: 480px;
    width: 90%;
    margin:40px auto;
    border-radius: 25px;
    box-shadow: 0px 0px 2px black;
    color: var(--colorPrograma);
}

.datosIngreso{
    display: flex;
    justify-content: space-evenly;
}

.labelInput{
    
    width: 400px;
    text-align: center;
}

.datos__titulo{
    text-align: center;
    font-size: 20px;
}


/*Seleccion del mes*/
.seleccion{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    font-size: 12px;
    gap: 10px;
    color: var(--colorPrograma);
}



/*Seccion de pedidos*/
.pedido{
    width: 70%;
    height: 4%;
    margin:40px auto;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content:space-between;
    border-radius: 5px;
    box-shadow: 0px 0px 2px black;
    color: var(--colorPrograma);
}

.icono{
    font-size: 25px;
}

.linkIcono{
    text-decoration: none;
    color: var(--colorPrograma);
}





/*Deudores*/

.deudor{
    margin: 40px auto;
    box-shadow: 0px 0px 2px black;
    width: 70%;
    height: 50px;
    display: flex;
    border-radius:15px ;
    background-color: var(--colorPrograma) ;
    color: var(--colorBlanco);
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.linkDeudor{
    color: var(--colorPrograma);
}

.iconoDeudor{
    font-size: 20px;
    color: var(--colorBlanco);
}

/*Modificaicon de carta de imagen*/
.carta__imagen--añadir{
    margin: 10px auto;
}

.botones__link{
    text-decoration: none;
}

.botones__link--agregar{
    border: none;
    cursor: pointer;
}

/*Pedido Deuda*/
.pedido--deuda{
    height: 100px ;
    font-size: 20px;
}

.deudores__titulo{
    margin-left: 15%;
    font-size: 40px;
    color: var(--colorPrograma);
    letter-spacing: 1px;
}

/*Deduores detalle*/

.carta--deuda{
     height: 400px;
    width: 280px ;
    margin-left: 15%;

}

.carta--detallePedido{
    height: 500px;
    max-height: 600px;
    width: 290px;
    overflow-y: auto;
}

/*Inicio Link*/

.inicio__link{
    text-decoration: none;
    color: var(--colorBlanco);
}

/*Parte de perfil del usuario*/

.usuario{
     margin: 20px auto;
     width: 40%;
     height: 700px;
     border-radius: 18px;
     box-shadow: 4px 4px 34px;
     text-align: center;
      
}

.usuario__foto{
   margin-top: 90px;
}

.salir{
    margin:100px auto;
    background-color: var(--colorPrograma);
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    color: var(--colorBlanco);
    margin-bottom: 40px;
    gap: 5px;
}

.salir:hover{
    cursor: pointer;
    background-color: var(--colorHover);
}

.usuario__texto{
    margin-top: 30px;
}

.flecha--perfil{
    
    background-color: var(--colorBlanco);
    font-size: 60px;
    
}
.flecha__imagen{
    margin-left: 20px;
    color: var(--colorPrograma);
}

/*Parte de clases creadas con doom*/




.componente--sinMargin{
    margin-bottom: 0px;
   
}

.mensajeError{
    width: 400px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: var(--colorBlanco);
    text-align: center;
    position: absolute;  
    /* top: 185px; */
    margin-bottom: -60px;
    margin-left: -10px;
    /* bottom: top; */
    /* left: 80px; */
    
    
}

.botonModificar{
    border: none;
    cursor: pointer;
}



.mensajeError--repetir{
    margin-left: -20px;
}

.mensajeError--inventario{
    display: block;
    text-align: left;
    margin-left: 0px;
}


.mensajeError--nombre{
    margin-left: 20px;
}


.mensajeError--password{
    width: 480px;
    margin-left: 220px;
}
.mensajeError--Repeatpassword{
    margin-left: -30px;
}


.mensajeError--correo{
    margin-left: -50px;
}


.mensajeError--telefono{
    margin-left: -50px;
}

.mensajeError--direccion{
    margin-left: -40px;
}


/*Estilos del formulario  empresa*/



.componente__entrada--empresa{
    border: 1px solid black;
}

.componente--empresa{
    flex-wrap: nowrap;
    margin-bottom: 2px;
}

.componente__entrada--select{
    height: 40px;
}

.componente__label--empresa{
    width: 400px;
    text-align: center;
}

.componente__entrada--empresa{
    width: 500px;
}

.botones--empresa{
    margin-top: 90px;
}

.inicio--empresa{
    gap: 40px;
}

.inicio__contenido{
    gap: 30px;
    padding: 10px;
    width: 700px;
    height: 350px;
    border-radius: 10px;
    
    display: flex;
    background-color: var(--colorPrograma);
    align-items: center;
    flex-direction: column;
}

.componente__entrada--empresaEmpleado{
    height: 40px;
}



.cantidadProductos{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 8px;
    justify-content: center;
}

.cantidadProductos__selector{
  border-radius: 25px;
    width: 90%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorPrograma);
    

}

.cantidadProductos__numero{
    width: 50px;
    height: 20px;
    color: var(--colorPrograma);
}

.cantidadProductos__btnEliminarProducto{
    height: 20px;
    width: 50px;
    text-align: center;
}

.botonesVenta{
    cursor: pointer;
    border: none;
}

.imagenEliminar{
    height: 15px;
    width: 30px;
}

.mensajeError--ventas{
    margin-left: -90px; 
}


/*Estilos de calendario*/
.calendar {
      max-width: 900px;
      margin: 0 auto;
      color: var(--colorPrograma);
    }

.fc .fc-button-primary{
    background-color: var(--colorPrograma);
    color: var(--colorBlanco);
}    

.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active{
    background-color: var(--colorPrograma);
}

.fc .fc-button-primary:disabled{
    background-color: var(--colorPrograma);
}



/* Fondo oscuro */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.formularioPedido {
     
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: inherit;
}

.formularioPedido__titulo {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.formularioPedido__label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.formularioPedido__input,
.formularioPedido__select,
.formularioPedido__boton {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid var(--colorPrograma);
  border-radius: 5px;
  font-family: inherit;
}

.formularioPedido__boton {
  background-color: var(--colorPrograma);
  color: var(--colorBlanco);
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.formularioPedido__boton:hover {
  background-color: var(--colorHover);
}


/* Vista de usuarios administrador */

    .usuarios-container{
        margin: 0 auto;
        width: 800px;
        
    }    
 
    

    .usuario-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        padding: 15px;
        border-radius: 10px;
        margin-top: 20px;
        
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }

    .usuario-info p {
        margin: 3px 0;
        font-size: 14px;
        color: #333;
    }

    .usuario-botones {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .btn-eliminar {
        background: red;
        color: white;
        padding: 6px 12px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 13px;
        text-decoration: none;
    }

    .btn-modificar {
        background: orange;
        color: white;
        padding: 6px 12px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 13px;
        text-decoration: none;
    }

    .btn-eliminar:hover {
        background: darkred;
    }

    .btn-modificar:hover {
        background: darkorange;
    }

.componente--usuarios{
    color: var(--colorPrograma);
}

.componente--usuarios .componente__entrada{
    border: 1px solid black;
}
.entrada__titulo--usuarios{
    color: var(--colorPrograma);
}

.registrarUsuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Facturacion */

.datosIngreso__select{
    width: 200px;
}

.boton--generarPdf{
    cursor: pointer;
}

.mensajeError--usuarios{
    margin-top: 25px;
    color: var(--colorPrograma);
}

.mensajeError--nitCedula{
    margin-top: 25px;
    color: var(--colorPrograma);
}

.mensajeError--telefonoFactura{
    margin-top: 25px;
    color: var(--colorPrograma);
}

.mensajeError--correoFactura{
    margin-top: 25px;
    color: var(--colorPrograma);
}

.mensajeError--factura{
    margin-top: 25px;
    color: var(--colorPrograma);
}

.mensajeError--usuarios{
    color: var(--colorPrograma);
}