@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jockey One", sans-serif;
}

:root {
    --colorPrograma: rgba(205, 65, 4, 1);
    --colorHover: rgb(168, 54, 5);
    --colorBlanco: #fff;
    --colorNegro: #000;
    --colorGris: #c9c9c9;
}

.btn-agregarProducto {
    background-color: var(--colorBlanco);
    border-radius: 10px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--colorPrograma);
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 5px 15px;
    text-transform: uppercase;
    white-space: nowrap;
}




.grid-container {
    display: grid;
    grid-template-areas:
        "main";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}



.paddinDiez {
    padding: 10px;
}

.layout {
    display: grid;
    grid-template-areas:
        "sidebar main"
        "sidebar main";
    grid-template-columns: 300px 1fr;
    grid-template-rows: 10% 90%;
    height: 100vh;
}



/*Parte de presentacion de tu bodega */
.inicioSesion {
    display: flex;
    height: 100vh;


    width: 100%;
}

.presentacion {

    width: 100%;
    background-color: var(--colorPrograma);
    color: var(--colorBlanco);

}

.contenido {
    gap: 60px;
    height: 89%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.contenido__titulo {
    letter-spacing: 2px;
    font-size: 90px;
    text-transform: uppercase;
}

.contenido__parrafo {
    width: 90%;
    text-transform: uppercase;
    font-size: 25px;
}

.contenido__imagen {
    width: 300px;
}




/*Parte de presentacion de los botones para dirigir a ingresar o registrarse*/
.botones {
    width: 100%;
}


.inicio__parrafo {
    color: var(--colorPrograma);

}

.inicio {
    gap: 60px;
    height: 100%;
    text-align: center;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;

}

.inicio--bienvenida {
    justify-content: center;
    margin: 40px auto;
}

.inicio__parrafo {
    text-transform: uppercase;
    font-size: 25px;
}

.inicio__ingresar {
    background-color: var(--colorPrograma);
    border-radius: 20px;
    width: 300px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--colorBlanco);
    text-decoration: none;
    cursor: pointer;
}

/*Parte del login*/

.login {

    height: 100vh;
    display: flex;
    flex-direction: column;
}

.entrada {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-color: var(--colorPrograma);
    width: 100%;
    padding-bottom: 30px;
}

.entrada--login {
    height: 50%;
    justify-content: center;
}



.entrada__titulo {
    text-transform: uppercase;
    color: var(--colorBlanco);
    margin-top: 0px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    font-size: 45px;

}

.ingresoDatos {
    display: flex;
    gap: 20px;

}

.ingresoDatos__entrada {
    width: 200px;
}

.inicial {
    display: flex;
    gap: 20px;


}

.componente {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    color: var(--colorBlanco);
    font-size: 25px;
    position: relative;
    margin: 10px 0;
    gap: 20px;
}

.componente--cartas {
    flex-wrap: nowrap;
    width: 100%;
    padding: 10px;
   
}

.componente--cartas-imagen {
    width: 100%;
    gap: 0;
    justify-content: start;
    gap: 10px;
}

.componente--cartas-imagen img {
    width: 200px;
}

.componente--login{
    gap: 5px;
}
.componente--sinMargin {
    margin-bottom: 0px;
}


.componente__label {
    min-width: 250px;
    white-space: nowrap;
    text-transform: uppercase;
}


.componente__label--login{
    min-width: 100px;
}

.componente__label--imagenes {
    width: 100%;
    height: 150px;
    margin-right: 0;
    object-fit: cover;
}

.componente__label--cartas {
    min-width: 100px;
    font-size: 20px;
}

.componente__label--min {
    min-width: auto;
}

.componente__label--direccion {
    width: 40px;
    margin: 12px;
    text-align: end;



}




.componente__entrada {

    height: 35px;
    width: 400px;
    border-radius: 5px;
    border: none;
    color: var(--colorPrograma);
    outline: none;
    position: relative;
    font-size: 15px;
    padding: 10px;
}

.componente__entrada--direccion {
    width: 100px;
}


.componente__entrada--cartas {
    height: 40px;
    width: 290px;

}


.textos {
    text-transform: uppercase;
    display: flex;
    color: var(--colorBlanco);
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 65px;
    font-size: 20px;
}




.datos {
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}

.datos .componente {
    width: 80%;
}



.datos__rol {
    height: 40px;
    border-radius: 5px;
    border: none;
    text-align: center;
    color: var(--colorPrograma);
    font-size: 20px;
}

.flecha {
    width: 100%;
    background-color: var(--colorPrograma);
}

.flecha__devolver {
    width: 40px;
    margin-top: 20px;
    margin-left: 30px;

}


/*Parte de envio del formulario o ayuda si el usuario olvido la contraseña*/
.link {
    text-decoration: none;
    color: var(--colorBlanco);

}

.enviar {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.enviar__boton {
    background-color: var(--colorPrograma);
    color: var(--colorBlanco);
    text-align: center;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 280px;
    height: 50px;
    font-size: 20px;
    border: none;

}

.enviar__boton:hover {
    cursor: pointer;
    background-color: var(--colorHover);
}


.enviar__ayuda {
    text-decoration: none;
    color: var(--colorPrograma);
    font-size: 18px;
}

/*Parte del registro del sistema*/

.registrarme {
    height: 100vh;
}

.registrarme--usuario {
    height: 100%;
}

.registro {
    height: 50%;
    text-transform: uppercase;
    color: var(--colorBlanco);
    letter-spacing: 2px;
    font-size: 20px;
    background-color: var(--colorPrograma);

}

.entrada--espacio {
    gap: 15px;
}

.entrada--espacio .textos {
    gap: 30px;
}

.entrada--espacio .datos {
    gap: 20px;
}

.entrada__titulo--espacioAbajo {
    margin-bottom: 30px;
}


/*ESTRUCTURA DE LA PAGINA WEB*/

.estructura {

    width: 100%;
    /* height: 100%; */
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        'sidebar main'
        'sidebar main';
    height: 100vh;
}

.sidebar {
    overflow-y: auto;
    grid-area: sidebar;
    background-color: var(--colorPrograma);

}

.perfil {
    width: 100%;
    border-bottom: solid 3px var(--colorBlanco);
    display: flex;
    align-items: center;
    color: var(--colorBlanco);
    padding: 20px 20px 30px;
    gap: 30px;
}

.perfil__imagen {
    width: 60px;
}

.perfil__texto {
    font-size: 30px;
    letter-spacing: 2px;
}

.perfil__texto--naranja {
    color: var(--colorPrograma);
}

.espacio {
    width: 100%;
    height: 75px;
    background-color: var(--colorBlanco);
}

.caja {
    width: 100%;
    height: 80px;
    display: flex;
    font-size: 22px;
    margin: 50px 0;
    color: var(--colorBlanco);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
}

.caja--admin {
    margin-top: 30px;
}

.caja__link {
    text-decoration: none;
    color: var(--colorBlanco);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caja:hover {
    background-color: var(--colorHover);
}

.caja__link--seleccion {
    color: var(--colorPrograma);
}


/*Estilos de inventario*/


.main {
    grid-area: main;
    overflow-x: auto;


}


.titulo {

    text-align: center;
    color: var(--colorPrograma);
    font-size: 50px;

}

.carta {
    border-radius: 20px;
    color: var(--colorBlanco);
    background-color: var(--colorPrograma);
    height: 500px;
    overflow-y: auto;
    box-shadow: 0px 10px 10px var(--colorGris);
    width: 350px;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    margin: 15px 0;
}

::-webkit-scrollbar-thumb {
    background-color: var(--colorBlanco);
    border-radius: 5px;
    border-right: 1px solid var(--colorPrograma);
}

.botonesCarta {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}

.botonesCarta__boton {
    background-color: var(--colorBlanco);
    border-radius: 10px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--colorPrograma);
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 5px 15px;
    text-transform: uppercase;
}

.carta--añadir {
    width: 500px;
    height: auto;
    padding: 20px;
}

.carta__addImagen {
    display: block;
    margin: 0 auto;
}

.agregarCards {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 50px;
    gap: 30px;
    margin-top: 60px;
}

.agregarCards--centradas {
    justify-content: center;
    align-items: center;
}


.carta__venta {

    display: flex;
    font-size: 35px;
    flex-direction: column;
    align-items: center;

}

.carta__imagen {
    height: 30%;
    width: 100%;
    object-fit: cover;
}

.carta__parrafo {
    font-size: 20px;
    padding: 15px 10px;

}


.cantidad {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    gap: 15px;
    justify-content: space-between;
    text-transform: uppercase;
}

.cantidad--productos {
    flex-direction: column;
    gap: 5px;
    align-items: start;
}



.cantidad__circulo {
    background-color: var(--colorBlanco);
    display: flex;
    border-radius: 10px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    color: var(--colorPrograma);
}




.botones {
    width: 100%;
    display: flex;
    gap: 90px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.botones--bievenida {
    margin: 0 auto;
}

.botones--modificar {
    margin-top: 200px;
}

.botones--venta {
    margin-top: 40px;
}


.boton__imagen {
    height: 30px;
}

.boton__texto {
    font-size: 20px;
}

/*Seccion de ventas*/


.botones--ventas {
    gap: 320px;
    margin-top: 140px;
}

.cantidad__circulo--producto {
    width: 100%;
    font-size: 18px;
}

.carta--venta {
    height: 530px;
    max-height: 600px;
    /* ajusta según lo que necesites */
    overflow-y: auto;
    width: 100px;
    min-width: 240px;
}


.ventasConsultas {
    color: var(--colorPrograma);
    font-size: 20px;
    margin-top: 40px;
    margin-left: 60px;
}


/*Seccion de facturas*/

.factura {
    display: flex;
    margin: 40px auto;
}

.datosIngreso {
    display: flex;
    justify-content: space-evenly;
}

.datosIngreso__input {
    width: 120px;
    border-radius: 5px;
    color: var(--colorPrograma);
}

.labelInput {

    width: 400px;
    text-align: center;
}

.datos__titulo {
    text-align: center;
    font-size: 20px;
}


/*Seleccion del mes*/
.seleccion {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    font-size: 12px;
    gap: 10px;
    color: var(--colorPrograma);
}



/*Seccion de pedidos*/
.pedido {
    width: 70%;
    height: 4%;
    margin: 40px auto;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 0px 2px black;
    color: var(--colorPrograma);
}

.icono {
    font-size: 25px;
}

.linkIcono {
    text-decoration: none;
    color: var(--colorPrograma);
}





/*Deudores*/

.deudor {
    margin: 40px auto;
    box-shadow: 0px 2px 5px #00000050;
    width: 70%;
    display: flex;
    border-radius: 15px;
    background-color: var(--colorPrograma);
    color: var(--colorBlanco);
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.deudor strong {
    font-weight: 500;
    margin-right: 10px;
}

.linkDeudor {
    color: var(--colorPrograma);
}

.iconoDeudor {
    font-size: 20px;
    color: var(--colorBlanco);
}

/*Modificaicon de carta de imagen*/
.carta__imagen--añadir {
    margin: 10px auto;
}

.botones__link {
    text-decoration: none;
}

.botones__link--agregar {
    border: none;
    cursor: pointer;
}

/*Pedido Deuda*/
.pedido--deuda {
    height: 100px;
    font-size: 20px;
}

.deudores__titulo {
    margin-left: 15%;
    font-size: 40px;
    color: var(--colorPrograma);
    letter-spacing: 1px;
}

/*Deduores detalle*/

.carta--deuda {
    height: 400px;
    width: 280px;
    margin-left: 15%;

}

.carta--detallePedido {
    height: 500px;
    max-height: 600px;
    width: 290px;
    overflow-y: auto;
}

/*Parte de perfil del usuario*/

.usuario {
    margin: 20px auto;
    width: 40%;
    height: 700px;
    border-radius: 18px;
    box-shadow: 0 5px 10px #00000080;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.usuario__foto {
    width: 100px;
}

.salir {
    margin: 100px auto;
    background-color: var(--colorPrograma);
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    color: var(--colorBlanco);
    margin-bottom: 40px;
    gap: 5px;
}

.salir:hover {
    cursor: pointer;
    background-color: var(--colorHover);
}

.usuario__texto {
    font-size: 20px;
    text-align: center;
}

.flecha--perfil {

    background-color: var(--colorBlanco);
    font-size: 60px;
    cursor: pointer;

}

.flecha__imagen {
    margin-left: 20px;
    color: var(--colorPrograma);
}

/*Parte de clases creadas con doom*/




.componente--sinMargin {
    margin-bottom: 0px;

}

.mensajeError {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: var(--colorBlanco);
    text-align: center;
    position: absolute;
    right: 5px;
    bottom: -25px;
}

.botonModificar {
    border: none;
    cursor: pointer;
}



.mensajeError--repetir {
    margin-left: -20px;
}

.mensajeError--inventario {
    bottom: -15px;
    right: 10px;
}


.mensajeError--nombre {
    margin-left: 20px;
}


.mensajeError--password {
    width: 480px;
    margin-left: 220px;
}

.mensajeError--Repeatpassword {
    margin-left: -30px;
}


.mensajeError--correo {
    margin-left: -50px;
}


.mensajeError--telefono {
    margin-left: -50px;
}

.mensajeError--direccion {
    margin-left: -40px;
}


.formularioActualizarUsuario {
    overflow: hidden;
}


/*Estilos del formulario  empresa*/



.componente__entrada--empresa {
    border: 1px solid black;
}

.componente--empresa {
    flex-wrap: nowrap;
    margin-bottom: 2px;
}

.componente__label--empresa {
    width: 400px;
    text-align: center;
}

.componente__entrada--empresa {
    width: 100%;
    height: 40px;
    max-width: 250px;
}

.botones--empresa {
    margin-top: 90px;
}

.inicio--empresa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inicio__contenido {
    gap: 30px;
    padding: 10px;
    width: 700px;
    height: 480px;
    border-radius: 10px;

    display: flex;
    background-color: var(--colorPrograma);
    align-items: center;
    flex-direction: column;
}

.componente__entrada--empresaEmpleado {
    height: 40px;
}

#productosContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cantidadProductos {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cantidadProductos__selector.input {
    font-size: 15px;
}

.cantidadProductos__numero.input {
    width: 50px;    
    font-size: 15px;    
}

.cantidadProductos__btnEliminarProducto {
    height: 31px;    
    padding: 2px;
    width: 31px;    
    text-align: center;
    background-color: var(--colorBlanco);
    border: none;
    border-radius: 3px;
    color: var(--colorPrograma);
}

.botonesVenta {
    cursor: pointer;
    border: none;
}

.imagenEliminar {
    height: 100%;
    cursor: pointer;
}

.mensajeError--ventas {
    margin-left: -90px;
}


/*Estilos de calendario*/
.calendar {
    max-width: 900px;
    margin: 0 auto;
    color: var(--colorPrograma);
}

.fc .fc-button-primary {
    background-color: var(--colorPrograma);
    color: var(--colorBlanco);
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
    background-color: var(--colorPrograma);
}

.fc .fc-button-primary:disabled {
    background-color: var(--colorPrograma);
}



/* Fondo oscuro */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.formularioPedido {

    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: inherit;
}

.formularioPedido__titulo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    letter-spacing: 1px;
    color: var(--colorPrograma);
}

.formularioPedido__label {    
    font-weight: 500;
    font-size: 18px;
}

.formularioPedido__input,
.formularioPedido__select,
.formularioPedido__boton {
    width: 100%;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid var(--colorPrograma);
    border-radius: 10px;
    font-family: inherit;
    font-size: 16px;
    color: var(--colorPrograma);
}

.formularioPedido__boton {
    margin: 0;
    background-color: var(--colorPrograma);
    border-radius: 10px;    
    display: flex;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--colorBlanco);
    text-decoration: none;
    cursor: pointer;    
    padding: 5px 15px;
    text-transform: uppercase;
    transition: all 0.3s;
}

.formularioPedido__boton:hover {
    background-color: var(--colorHover);
}






/* Vista de usuarios administrador */

.usuarios-container {
    margin: 0 auto;
    width: 80%;

}



.usuario-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 6px #00000047;
}

.usuario-info {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.usuario-info p strong {
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--colorPrograma);
    margin-right: 4px;
}

.usuario-botones {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-eliminar {
    background-color: var(--colorPrograma);
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-modificar {
    text-transform: uppercase;
    background-color: var(--colorPrograma);
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
}

.componente--naranja {
    color: var(--colorPrograma);
}

.componente--naranja .input {
    border: 1px solid var(--colorPrograma);
}

.entrada__titulo--usuarios {
    color: var(--colorPrograma);
}

.registrarUsuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.carta__imagen--modificar {
    object-fit: contain;
}

/* Facturacion */

.datosIngreso__select {
    width: 200px;
}

.boton--generarPdf {
    cursor: pointer;
}

.mensajeError--usuarios {
    margin-top: 25px;
    color: var(--colorPrograma);
}

.mensajeError--nitCedula {
    margin-top: 25px;
    color: var(--colorPrograma);
}

.mensajeError--telefonoFactura {
    margin-top: 25px;
    color: var(--colorPrograma);
}

.mensajeError--correoFactura {
    margin-top: 25px;
    color: var(--colorPrograma);
}

.mensajeError--factura {
    margin-top: 25px;
    color: var(--colorPrograma);
}

.mensajeError--usuarios {
    color: var(--colorPrograma);
}


.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: var(--colorPrograma);
    background: var(--colorBlanco);
    padding: 8px 12px;
    border-radius: 8px;
}

.iconoHamburguesa {
    display: none;
    font-size: 40px;
    color: var(--colorPrograma);
    font-weight: 900;
}

.displayNone {
    display: none;
}

.sidebarEscondido {
    left: -700px;
}


.boton {
    background-color: var(--colorPrograma);
    border-radius: 10px;
    width: 300px;    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--colorBlanco);
    text-decoration: none;
    cursor: pointer;    
    outline: none;
    border: none;
    padding: 5px 15px;
    text-transform: uppercase;
    transition: all 0.3s;
    gap:20px;
}

.boton:hover{
    background-color: var(--colorHover);
}
.boton--small{
    width: auto;
}

.titulo{
    text-transform: uppercase;
    color: var(--colorBlanco);        
    letter-spacing: 3px;
    font-size: 50px;
    margin-bottom: 10px;
}
.titulo--naranja{
    color: var(--colorPrograma);      
    margin-top: 20px; 
}

.titulo--small{
    letter-spacing: 1px;
    font-size: 40px;
}

.input {    
    width: 100%;
    border-radius: 5px;
    border: none;
    color: var(--colorPrograma);
    outline: none;
    position: relative;
    font-size: 20px;
    padding: 5px 10px;
}

.input--imagen{
    display: none;
}
.input--login {
    width: 80%;
}

.imagen-label{
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    width: 100%;
    display: flex;
    padding: 10px 10px;    
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed var(--colorBlanco);
}

.componente--direccion{
    display: flex;
    gap: 15px;    
    justify-content: space-between;
    width: 100%;
    
}

.componente__label--min{
    display: flex;
    gap: 5px;
}
/* Estilos para móviles */
@media (max-width: 768px) {

    .hamburger {
        display: inline-block;
    }

    .sidebar {
        display: none;
    }

    /* Al marcar el checkbox, mostrar el menú */
    #menu-toggle:checked~.sidebar {
        display: block;
    }

    .grid-container {
        grid-template-columns: 100%;
        grid-template-areas: "main"
            "main";
    }

    .iconoHamburguesa {
        display: block;
        position: fixed;
        z-index: 5;
        left: 0;
    }


    .sidebar {
        display: block;
        position: fixed;
        height: 100vh;
        width: 50%;
        padding: 0;
        z-index: 100;
        left: -700px;
        transition: 0.9s;
    }

    #cheBurguer:checked+.sidebar {
        left: 0px;
    }

    .displayNone {
        display: none;
    }
    .perfil{
        flex-direction: column;
        gap: 10px;
    }

    .boton{
        width: 200px;
        font-size: 18px;
    }

    .componente{
        width: 100%;
        padding: 0 20px;
        font-size: 18px;
    }

    .componente__label{
        min-width: 150px;
    }
    .componente__label--min{
        min-width: auto;
    }
    .input{
        font-size: 18px;
    }

   

    .datos{
        width: 100%;
    }
    .datos .componente {
    width: 100%;
    }

    .componente--cartas-imagen{
        flex-wrap: wrap;
     justify-content: center;
    }

    .agregarCards{
        padding: 0 20px;
    }
    .componente__label--cartas{
        min-width:80px;
    }

    .carta--añadir{
        gap: 5px
    }

    .componente--wrap{
        flex-wrap: wrap;
        
    }

    .componente--wrap .componente__label--min{
        width: 100%;
        display: grid;
        grid-template-columns: 150px 2fr;
        gap: 20px;
    }

    #ModificarProducto{
        width: 100%;
    }
    .componente--direccion{
        flex-wrap: wrap;
    }
}
/* Tablets (≤ 1024px) */
@media screen and (max-width: 1024px) {
    .inicioSesion {
        flex-direction: column;

    }

    .factura {
        flex-direction: column;
    }

    .datos__titulo {
        margin-top: 20px;
    }



    .presentacion,
    .botones {
        width: 100%;
    }

    .botones {
        margin-top: 50px;
    }

    .presentacion {
        padding: 0px;
    }

    .contenido__titulo {
        font-size: 60px;
    }

    .contenido__parrafo {
        font-size: 20px;
        width: 80%;
    }

    .contenido__imagen {
        width: 250px;
    }


    .inicio__parrafo {
        font-size: 20px;
    }

}

/* Móviles (≤ 768px) */
@media screen and (max-width: 768px) {
    .inicioSesion {
        flex-direction: column;        
        align-items: center;
    }

    .presentacion {
        width: 100%;
        padding: 20px 0;
        /* Padding vertical para la sección superior */
        background-color: var(--colorPrograma);
    }

    .contenido {
        gap: 20px;
        /* Reducir gap */
        padding-bottom: 10px;
        /* Reducir espacio inferior */
    }

    .contenido__titulo {
        font-size: 40px;
        letter-spacing: 1px;
    }

    .contenido__parrafo {
        font-size: 16px;
        width: 90%;
    }

    .contenido__imagen {
        width: 200px;
    }



    .inicio {
        gap: 15px;
        /* Reducir gap entre elementos */
    }

    .inicio__parrafo {
        font-size: 16px;
    }
    .deudor{
        width: 90%;
    }

}

/* Móviles pequeños (≤ 480px) */
@media screen and (max-width: 480px) {

    .inicio__contenido {
        width: 400px;

    }



    .inicio__ingresar {
        margin-top: 40px;
    }

    .usuarios-container {
        max-height: 500px;
        overflow-y: auto;


    }

    .inicioSesion {
        height: 100%;
        padding: 0;

        justify-content: space-between;
        /* Alinear desde la parte superior */
        align-items: center;
    }

    .presentacion {
        width: 100%;
        height: 50%;
        padding: 10px 0;
        /* Padding mínimo */
        background-color: var(--colorPrograma);
    }

    .contenido {
        height: 100%;
        gap: 40px;
        /* Gap mínimo */
        padding-bottom: 0;
        /* Eliminar espacio inferior */
    }

    .contenido__titulo {
        font-size: 30px;
    }

    .contenido__parrafo {
        font-size: 16px;
    }

    .contenido__imagen {
        width: 150px;
    }


    .inicio {
        gap: 10px;
    }

    .inicio__parrafo {
        width: 250px;
        font-size: 17px;
        margin-bottom: 80px
    }


}

/* Media Queries Login */

/* Tablets (≤ 1024px) */
@media screen and (max-width: 1024px) {


    .login {
        height: 100%;
    }

    .entrada__titulo {
        font-size: 25px;
    }

    .componente__entrada {
        width: 200px;
    }

    .enviar__boton {
        width: 180px;
        height: 45px;
        font-size: 16px;
    }

}

/* Móviles (≤ 768px) */
@media screen and (max-width: 768px) {
    .login {
        height: 100%;
    }

    .entrada__titulo {
        font-size: 22px;
    }

    .componente__entrada {
        width: 180px;
        height: 35px;
        font-size: 15px;
    }

    .enviar {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .enviar__boton {
        margin-top: 40px;
        width: 160px;
        height: 45px;
        font-size: 16px;
    }


    .carta{
        width: 100%;
    }

    .agregarCards {
        margin-bottom: 20px;
    }

}

/* Móviles pequeños (≤ 480px) */
@media screen and (max-width: 480px) {
    .login {
        height: 100%;
    }

    .entrada__titulo {
        margin-top: 20px;
        font-size: 40px;
        /* Mínimo legible */
    }

    .componente__entrada {
        width: 450px;
        /* Mínimo ancho */
        height: 35px;
        font-size: 14px;
        /* Mínimo legible */
    }

    .enviar {
        margin-top: 15px;
    }

    .enviar__boton {
        margin-top: 90px;
        width: 340px;
        /* Mínimo ancho */
        height: 50px;
        font-size: 14px;
        /* Mínimo legible */
    }

    .carta__parrafo--saldoTotal {
        text-align: center;
    }
}


/* Tablets (≤ 1024px) */
@media screen and (max-width: 1024px) {
    .registrarme--usuario {
        height: auto;
        /* Adjust height for smaller screens */
    }

    .registro {
        font-size: 18px;
        /* Adjust font size */
    }

    .entrada--espacio {
        gap: 10px;
    }

    .entrada__titulo--espacioAbajo {

        margin-bottom: 20px;
        /* Adjust margin */
    }

    .datosIngreso {
        width: 300px;
    }
}



/* Móviles (≤ 768px) */
@media screen and (max-width: 768px) {
    .registrarme{
        height: auto;
    }
    .registrarme--usuario {
        height: auto;
        /* Adjust height for smaller screens */
    }

    .registro {
        font-size: 16px;
        /* Adjust font size */
    }


    .entrada__titulo--espacioAbajo {
        margin-bottom: 15px;
        /* Adjust margin */
    }


    .titulo{
        font-size: 8vw;
    }

}

/* Móviles pequeños (≤ 480px) */
@media screen and (max-width: 480px) {


    .usuario {
        width: 90%;
        height: 620px;

    }

    .componente__entrada--select {
        font-size: 10px;
    }

    .entrada__titulo--espacioAbajo {
        font-size: 25px;
    }

    .componente--cartas {
        width: 100%;
    }


    .componente--imagenes {
        width: 100%;
    }

    .componente__label--imagenes {
        width: 100%;
    }

    .componente__entrada--imagenes {
        width: 100%;
    }

    .registrarme--usuario {
        height: auto;
        /* Adjust height for smaller screens */
    }

    .registro {
        font-size: 14px;
        /* Adjust font size */
    }

    .entrada--espacio {
        gap: 5px;
        /* Adjust gap */
    }

    .entrada__titulo--espacioAbajo {
        margin-bottom: 10px;
        /* Adjust margin */
    }

    .calendar {
        margin: 70px 20px;
        gap: 10px;
    }

    .fc-toolbar-title {
        text-align: center;
    }

    .fc-toolbar-ltr {
        gap: 20px;
    }

}

/* Móviles pequeños (≤ 480px) */
@media screen and (max-width: 430px) {
}