<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <link rel="shortcut icon" href="./imagenes/tu_bodega_logo.png"> 
    <link rel="stylesheet" href="styles.css">
</head>
<body>
     
            <h1 class="titulo">INVENTARIO</h1>

            <div class="agregarCards"></div>
             

            <div class="botones ">
                <a href="#inventario/Agregar" class="botones__link"><div class="boton"><p class="boton__texto">AGREGAR</p><img src="/Images/Agregar.png" class="boton__imagen"></div></a>
                
            </div>
             
            
</body>
</html>