<h1 class="titulo titulo--naranja">EMPRESA REGISTRADA</h1>


<form class="registroEmpresa" novalidate>

     <div class="inicio--empresa">
          <div class="componente componente--naranja">
               <label for="nit" class="componente__label">NIT</label>
               <input type="text" id="nit" class="input" name="nit" required>
          </div>

          <div class="componente componente--naranja">
               <label for="empresa" class="componente__label">NOMBRE
                    EMPRESA</label>
               <input type="text" id="empresa" class="input" name="nombreEmpresa" required>

          </div>

          <div class="componente componente--naranja">

               <label for="direccion" class="componente__label componente__label--titulo">DIRECCION</label>

               <div class="componente--direccion">

                    <label for="calle" class="componente__label componente__label--min">Calle

                         <input type="text" id="calle" class="input" name="calle" autocomplete="off" required>
                    </label>
     
                    <label for="numero" class="componente__label componente__label--min">N°

                         <input type="text" id="numero" class="input" name="numero" autocomplete="off" required>
                    </label>
     
                    <label for="barrio" class="componente__label componente__label--min">Barrio

                         <input type="text" id="barrio" class="input " name="barrio" autocomplete="off" required>
                    </label>
               </div>


          </div>

          <div class="componente componente--naranja">
               <label for="municipio" class="componente__label">MUNICIPIO DE
                    RESIDENCIA</label>
               <select id="municipio" class="input " name="fkMunicipio" required>
                    <option value="" disabled selected></option>

               </select>
          </div>

          <div class="componente componente--naranja">
               <label for="lineaAtencion" class="componente__label">LINEA DE
                    ATENCION</label>
               <input type="text" id="lineaAtencion" class="input" name="lineaDeAtencion" required>

          </div>

          <div class="componente componente--naranja">
               <label for="correo" class="componente__label">CORREO
                    EMPRESA</label>
               <input type="text" id="correo" class="input" name="correoEmpresa" required>

          </div>

     </div>





     <div class="botones">
          <button class="boton" type="submit"> ACTUALIZAR</button>
     </div>
</form>