<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="styles.css" >
    <link rel="shortcut icon" href="./imagenes/tu_bodega_logo.png"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    
</head>
<body> 
    <div class="flecha flecha--perfil"> 
           <a  class="link"> <i class="bi bi-arrow-left flecha__imagen" ></i> </a>
         </div> 
       <div class="usuario">
           
          <img src="/Images/Perfil.png" class="usuario__foto">
          <p class="perfil__texto perfil__texto--naranja" id="nombre"></p>
          <p class="usuario__texto" id="telefono"></p>
          <P class="usuario__texto" id="gmail"></P>
          <p class="usuario__texto" id="direccion"></p>
          <p class="usuario__texto" id="cedula"></p>


        <a href="#" class="link salir-link"><div class="boton boton--small">CERRAR SESIÓN<i class="bi bi-arrow-bar-left"></i></div></a>


       </div>
    



</body>
</html>