<h1 class="titulo titulo--naranja">FACTURACION</h1>

<form class="generarPdf" novalidate>
    <div class="factura">


        <div class="datos">
            <h2 class="titulo titulo--naranja titulo--small">DATOS DEL EMISOR</h2>

            <div class="componente componente--naranja">
                <label class="componente__label">PEDIDO:</label>
                <select id="pedido" name="fkPedido" required class="input">
                    <option value="" disabled selected>Selecciona una opcion</option>
                </select>

            </div>

            <div class="componente componente--naranja">
                <label class="componente__label">CEDULA O NIT:</label>
                <input type="text" id="cedula" required name="cedula" disabled class="input">
            </div>

            <div class="componente componente--naranja">
                <label class="componente__label">DIRECCION FISCAL:</label>
                <input type="text" id="direccion" required name="direccion" disabled class="input">
            </div>

            <div class="componente componente--naranja">
                <label class="componente__label">TELEFONO:</label>
                <input type="text" required id="telefono" name="telefono" disabled class="input">
            </div>

            <div class="componente componente--naranja">
                <label class="componente__label">CORREO ELECTRONICO:</label>
                <input type="text" required id="correo" name="correo" disabled class="input">
            </div>


        </div>

        <div class="datos">
            <h2 class="titulo titulo--naranja titulo--small">DATOS DE VENTA</h2>
            <div class="componente componente--naranja">
                <label class="componente__label">FECHA:</label>
                <input type="date" readonly name="fecha" id="fecha" required disabled class="input">
            </div>

            <div class="componente componente--naranja">
                <label class="componente__label">MEDIO DE PAGO:</label>
                <select name="medioDePago" name="medioDePago" required id="medioDePago" class="input">

                </select>
            </div>

            <div class="componente componente--naranja">
                <label class="componente__label">IVA PORCENTAJE:</label>
                <input type="text" name="iva" id="iva" readonly required disabled class="input">
            </div>

            <div class="componente componente--naranja">
                <label class="componente__label">VALOR TOTAL:</label>
                <input type="text" readonly id="valorTotal" name="valorTotal" required disabled
                    class="input">
            </div>




        </div>



    </div>

    <div class="botones ">
        <button class="boton boton--generarPdf" type="submit" formnovalidate>GENERAR PDF
        </button>

    </div>

</form>